div#overlay {
    position: fixed;
    inset: 0;
    background: rgb(0 0 0 / 30%);
}

div#spinner {
    position: fixed;
    top: 50%;
    left: 50%;
}

.flower-12l-48x48 {
    animation: flower-12l-48x48 1s steps(12) infinite;
    display: block;
    width: 48px;
    height: 48px;
    background-image: url("../images/loading.png");
}

@keyframes flower-12l-48x48 {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 0 -576px;
    }
}
